#cbbc.container {
  max-width: 1620px;
}

#cbbc.container .row {
  max-width: 1620px;
}

#cbbc .bg-yellow {
  background-color: #ff9800;
}

#cbbc .bg-purple {
  background-color: #6200ea;
}

#cbbc .bg-gery {
  background-color: #6c757d;
}

#cbbc .nav-item {
  font-size: 11px;
}

#cbbc .nav-item .nav-link {
  padding: .3rem 1rem;
  border: None;
}

#cbbc .nav-item :not(.active) {
  color: #fff;
}

#cbbc .tab-content {
  height: 300px;
  border: 1px solid #e6e6e6;
  border-width: 0 1px 1px 1px;
  padding: 8px 12px 4px 12px;
  background-color: #f9f9f9;
}

#cbbc .tab-pane.fade {
  position: relative;
  height: 100%;
  width: 100%;
}

#cbbc .form-group {
  margin-bottom: 0px;
}

#cbbc .col-form-label-sm,
#cbbc .form-control-sm {
  font-size: 11px;
}

#cbbc input.form-control-sm {
  padding: 0rem .5rem;
}

#cbbc .btn_control {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
}

#cbbc .btn-sm {
  font-size: 11px;
  line-height: 1.25;
}

#cbbc .btn_trade_control {
  position: absolute;
  width: 100%;
  bottom: 35px;
}

#cbbc .price_table {
  overflow:auto;
  display: block;
  height: 216px;
  width: calc(100% + 12px);
  font-size: 11px;
  margin-top: -4px;
}

#cbbc .price_table .table-sm td,
#cbbc .price_table .table-sm th {
  padding: .10rem;
}

#cbbc .price_table .cur_bid,
#cbbc .price_table .cur_ask {
  color: #2ECC71;
  font-weight: bold;
}

#cbbc .table-portfolio,
#cbbc .table-order,
#cbbc .table-position,
#cbbc .table-recommand,
#cbbc .table-trade {
  display: block;
  overflow-y: scroll;
  margin-bottom: 0.5rem;
  height: 182px;
  width: 100%;
  font-size: 11px;
  border: 1px solid #e6e6e6;
}

#cbbc .overflow-x {
  overflow-x: auto;
}

#cbbc .table-trade {
  overflow-y: hidden;
  min-height: 182px;
  min-width: 100%;
  height: auto;
}

#cbbc .table-portfolio.table-sm td, #cbbc .table-portfolio.table-sm th,
#cbbc .table-order.table-sm td, #cbbc .table-order.table-sm th,
#cbbc .table-position.table-sm td, #cbbc .table-position.table-sm th,
#cbbc .table-recommand.table-sm td, #cbbc .table-recommand.table-sm th,
#cbbc .table-trade.table-sm td, #cbbc .table-trade.table-sm th {
  padding: .1rem;
}
 
.table-trade th:nth-child(2), .table-trade th:nth-child(8), .table-trade th:nth-child(13), .table-trade th:nth-child(16), .table-trade th:nth-child(19), .table-trade th:nth-child(28),
.table-trade td:nth-child(2), .table-trade td:nth-child(8), .table-trade td:nth-child(13), .table-trade td:nth-child(16), .table-trade td:nth-child(19), .table-trade td:nth-child(28) {
  border-left: 2px solid #333;
  padding-left: 4px !important;
}

.table-portfolio th:nth-child(9), .table-portfolio th:nth-child(13), .table-portfolio th:nth-child(15),
.table-portfolio td:nth-child(9), .table-portfolio td:nth-child(13), .table-portfolio td:nth-child(15) {
  border-left: 2px solid #333;
  padding-left: 4px !important;
}

#cbbc .form-recommend .height-adj {
  height: 38px;
}

#cbbc .is-invalid {
  border: 1px solid #ff0000 !important;
}

#cbbc .is-valid {
  border: 1px solid #28a745 !important;
}

#cbbc .invalid-feedback {
  margin: 0;
  font-size: 10px;
  line-height: 10px;
  margin: 0px 0px 4px 0px;
}

#cbbc .config_selector {
  display: inline;
}

#cbbc .config_selector ul {
  display: inline-block;
}

#cbbc .config_selector ul li {
  padding: 2px 6px 2px 6px;
  border: 1px solid #e6e6e6;
  text-align: center;
  background-color: #f7f7f7;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
  border-color: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#cbbc .custom-loader.content.is_loading {
  opacity: 0.2;
}

#cbbc .custom-loader.area.is_loading {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#cbbc .custom-loader.area.is_finish {
  display: none;
}

#cbbc .custom-loader.spinner.is_loading {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.75);
  border-top-color: #fff;
  animation: spin 0.5s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

#cbbc .custom-loader.spinner.is_finish {
  display: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#cbbc .footer {
  position: absolute;
  left: 0;
  margin: 24px 0 0 0;
  width: 100%;
  height: 48px;
  font-size: 12px;
  line-height: 48px;
  background-color: #f8f9fa!important;
  border-top: 1px solid #cfcfcf;
}

#cbbc .status .status-icon {
  padding: 4px;
  font-size: 12px;
  color: #fff;
}

#cbbc .status .status-icon.btn-success,
#cbbc .status .status-icon.btn-success.focus {
  background-color: #28a745;
  border-color: #28a745;
}

#cbbc .status .status-icon.btn-danger,
#cbbc .status .status-icon.btn-danger.focus {
  background-color: #dc3545;
  border-color: #dc3545;
}

#cbbc .status #status_detail {
  font-size: 12px;
}

#cbbc .status #status_detail .card-body {
  padding: 12px;
  border: 1px solid #e6e6e6;
  background-color: #f9f9f9;
}

#cbbc .form-recommend input,
#cbbc .form-recommend .form-control{
  font-size: 12px;
}

#cbbc .toggle.btn {
  min-height: 24px;
}

#cbbc .toggle.btn label {
  font-size: 12px;
}