#ticket.container {
  max-width: 1580px;
}

#ticket input,
#ticket .input-group-ticket {
  width: 85px;
}

#ticket .cell button {
  padding: 1px 2px;
  font-size: 11px;
}

#ticket textarea {
  width: 100%;
  resize: none;
  border: 1px solid #ccc !important;
}

#ticket .cell {
  min-width: 365px;
  border: 1px solid #cfcfcf;
  padding: 4px;
  font-size: 11px;
  background-color: #f9f9f9;
}

#ticket .header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #dee2e6;
}

#ticket .price-table {
  margin: 0px;
}

#ticket .price-table td,
#ticket .price-table th {
  width: 50%;
  padding: 0px;
}

#ticket .price-table input.form-control {
  height: 22px;
  width: 100%;
  font-size: 12px;
  padding: 0px;
  border-width:0px !important;
  border:none !important;
}

#ticket .input-group-ticket input {
  height: 22px;
  width: 50px;
  padding: 2px;
  font-size: 11px;
  line-height: inherit;
}

#ticket .input-group-ticket button {
  z-index: 0;
}

#ticket .bar {
  position: relative;
  top:-18px;
}

#ticket .control-container .btn-sm {
  font-size: 11px;
}

#ticket .status .status-icon {
  font-size: 11px;
  color: #fff;
}

#ticket .status .status-icon.btn-success,
#ticket .status .status-icon.btn-success.focus {
  background-color: #28a745;
  border-color: #28a745;
}

#ticket .status .status-icon.btn-danger,
#ticket .status .status-icon.btn-danger.focus {
  background-color: #dc3545;
  border-color: #dc3545;
}

#ticket .status #status_detail {
  font-size: 11px;
}

#ticket .status #status_detail .card-body {
  padding: 4px;
  border: 1px solid #cfcfcf;
  background-color: #f9f9f9;
}

#ticket .bg-purple {
  background-color: #6200ea;
}

#ticket .bg-yellow {
  background-color: #ff9800;
}

#ticket .table-recommand {
  display: block;
  overflow-y: scroll;
  margin-bottom: 0.5rem;
  height: 110px;
  width: 100%;
  font-size: 11px;
  border: 1px solid #e6e6e6;
}

#ticket .table-recommand.table-sm td, #cbbc .table-recommand.table-sm th {
  padding: .1rem;
}

#ticket .form-recommend input,
#ticket .form-recommend .form-control{
  width: 100%;
  font-size: 12px;
}

#ticket .form-check {
  padding-left: 12px;
}

#ticket .form-check-input {
  margin-top: .2rem;
}

#ticket .ic-close {
  color: #fff;
}

/* large */
#ticket .cell.large {
  min-width: 548px;
  font-size: 14px;
}

#ticket .cell.large  .price-table input.form-control {
  height: 28px;
  font-size: 14px;
}

#ticket .cell.large .bar {
  top: -22px;
}

#ticket .cell.large button {
  font-size: 14px;
}

#ticket .cell.large .input-group-ticket input {
  font-size: 14px;
  height: 28px;
}

#ticket .cell.large .input-group-ticket {
  width: 120px;
}

#ticket .cell.large button {
  padding: 1px 6px;
}

#ticket .cell.large .form-check-input {
  margin-top: .32rem;
}

/* xlarge */
#ticket .cell.xlarge {
  min-width: 760px;
  font-size: 16px;
}

#ticket .cell.xlarge  .price-table input.form-control {
  height: 32px;
  font-size: 16px;
}

#ticket .cell.xlarge .bar {
  top: -24px;
}

#ticket .cell.xlarge button {
  font-size: 16px;
}

#ticket .cell.xlarge .input-group-ticket input {
  font-size: 16px;
  height: 32px;
}

#ticket .cell.xlarge .input-group-ticket {
  width: 160px;
}

#ticket .cell.xlarge button {
  padding: 1px 8px;
}

#ticket .cell.xlarge .form-check-input {
  margin-top: .45rem;
}

@media only screen and (min-width: 768px) {
  .div-order {
    width: 760px;
  }
}